{% macro get_color_style(percentage) %}
    {% if percentage >= 100 %}
        purple
    {% elif percentage >= 75 %}
        green-very-dark
    {% elif percentage >= 50 %}
        green-dark
    {% elif percentage >= 25 %}
        green
    {% elif percentage >= 10 %}
        green-light
    {% elif percentage >= 5 %}
        green-very-light
    {% elif percentage > 0 %}
        orange
    {% elif percentage == 0 %}
        orange-light
    {% elif percentage <= -50 %}
        red-very-dark
    {% elif percentage <= -25 %}
        red-dark
    {% elif percentage <= -10 %}
        red
    {% elif percentage <= -5 %}
        red-light
    {% else %}
        red-very-light
    {% endif %}
{% endmacro %}


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CryptoTurtle.Pro</title>
        <meta name=”description” content="There are hundreds of crypto symbols with thousands of price points an hour. Which ones are pumping today or breaking out?"/>

        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="0" />
        
        <meta charset="utf-8">
        <link rel="icon" type="image/png" href="/static/favicon.png">
        <link rel="stylesheet" type="text/css" href="/static/css/crypto_turtle_styles.css">

        <link rel=”canonical” href=”https://www.cryptoturtle.pro” />
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-8H10MFCC1D"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-8H10MFCC1D');
        </script>
</head>
<body>
    <div class="container">
        <div class="float-container">
            <div class="float-left">
                <h1>
                    <a href="https://www.cryptoturtle.pro" title="CryptoTurtle.Pro" class="header">CryptoTurtle.Pro</a>
                </h1>
            </div>
            <div class="float-right margin-top-x">
                <a href="https://twitter.com/cryptoturtlepro" title="CryptoTurtle.Pro on X Twitter" target="_blank">
                    <img src="/static/x.png" alt="CryptoTurtle.Pro on X Twitter" class="logo">
                </a>        
            </div>
            <div class="float-clear"></div>
        </div>

        <div>
            <p><a href="https://www.cryptoturtle.pro" class="whitelink">24hr %</a> — <a href="https://www.cryptoturtle.pro/breakouts" class="whitelink">24hr breakouts</a></p>
            <p class="small">
                There are hundreds of crypto symbols with thousands of price points an hour. Which ones are moving today? Which ones are breaking out of their prices ranges?. 
                CryptoTurtle.Pro monitors all active symbols returned by the Coinbase API and compares the previous hour's high to the high in the earlier period. Runs every hour.
            </p>
            <!-- <p class="small">
                <strong>Last updated:</strong> {{ latest_report_time }} (UTC)
            </p> -->
            {% for period, data in tables_data.items() %}
                <h4>{{ period_names[period] }}</h4>
                <p class="small">Symbols with a greater than {{ thresholds[period] }}% increase</p>
                <table>
                    <thead>
                        <tr>
                            <th>Symbol</th>
                            <th class="table-align-right">2 Hrs</th>
                            <th class="table-align-right">4 Hrs</th>
                            <th class="table-align-right">12 Hrs</th>
                            <th class="table-align-right">24 Hrs</th>
                            <th class="table-align-right">48 Hrs</th>
                            <th class="table-align-right">72 Hrs</th>
                            <th class="table-align-right">120 Hrs</th>
                            <th class="table-align-right">TV</th>
                            <th class="table-align-right">CB</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in data %}
                        <tr>
                            <td>{{ row[0] }}</td> <!-- Symbol -->
                            {% for increase in row[1:] %}
                                {% if increase is none %}
                                    <td>-/-</td>
                                {% else %}
                                <td class="table-align-right {{ get_color_style(increase) }}">{{ increase|round(2) }}%</td>
                                {% endif %}
                            {% endfor %}
                            <td class="table-align-right">
                                {% set symbol = row[0] %}
                                {% set tradingview_url = "https://www.tradingview.com/chart/?symbol=COINBASE:" + symbol|replace('-', '') %}
                                <a href="{{ tradingview_url }}" target="_blank">TV</a>
                            </td>
                            <td class="table-align-right">
                                {% set symbol = row[0] %}
                                {% set coinbase_url = "https://www.coinbase.com/advanced-trade/spot/" + symbol %}
                                <a href='{{ coinbase_url }}' target='_blank'>CB</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endfor %}
        </div>
    </div>
</body>
</html>